@import url("../fonts.css/fonts.css");

$body-bg: rgb(27, 27, 27);
$body-color: white;
$primary: green;

$font-family-sans-serif: "Poppins", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.custom__bg {
  background: black url("../assets/abstract.91fe92b5.jpg");
  background-size: cover;
}
